In [72]:
from google.colab import drive
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Mount the google drive
drive.mount('/gdrive')

In [74]:
DATASET_PATH = "/gdrive/My Drive/UTS/assignment/datasets"
#MODEL_SAVE_PATH = "/gdrive/My Drive/UTS/assignment/models"
KAGGLE_SUBMISSION_PATH = "/gdrive/My Drive/UTS/assignment/kaggle-submissions"

In [75]:
print(DATASET_PATH)

/gdrive/My Drive/UTS/assignment/datasets

In [76]:
import os
import pandas as pd

def load_data(filename, dataset_path=DATASET_PATH):
    csv_path = os.path.join(dataset_path, filename)
    return pd.read_csv(csv_path)

In [77]:
# Load the training and test set
train_data = load_data("TrainingSet.csv")
test_data = load_data("TestingSet.csv")

# Exploratory Data Analysis (EDA)

In [78]:
# Let's take a peek at the top few rows of the training set:
train_data.head()

   row ID           SSL  BATHRM  ...  USECODE  LANDAREA         GIS_LAST_MOD_DTTM
0   28915  1605    0050     2.0  ...       12      3750  2018-07-22T18:01:43.000Z
1   36804  2256    0831     3.0  ...       12      7480  2018-07-22T18:01:43.000Z
2   11913  0938    0021     2.0  ...       11      1603  2018-07-22T18:01:43.000Z
3   41326  2588    0025     2.0  ...       24      1760  2018-07-22T18:01:43.000Z
4   88621  5154    0906     1.0  ...       12      5000  2018-07-22T18:01:43.000Z

[5 rows x 39 columns]

In [79]:
# dropped the row ID column from the train set as I won’t need this for training the model
train_data = train_data.drop('row ID', axis=1)

In [80]:
# Function to calculate no. of null values with percentage in the dataframe
def null_values(DataFrame_Name):
    
    sum_null = DataFrame_Name.isnull().sum()
    total_count = DataFrame_Name.isnull().count()
    percent_nullvalues = sum_null/total_count * 100
    df_null = pd.DataFrame()
    df_null['Total_values'] = total_count
    df_null['Null_Count'] = sum_null
    df_null['Percent'] = percent_nullvalues
    df_null = df_null.sort_values(by='Null_Count',ascending = False)

    return(df_null)

In [81]:
def describe_data(df):
    print("Data Types:")
    print(df.dtypes)
    print("=============\n")
    print("Rows and Columns:")
    print(df.shape)
    print("=============\n")
    print("Column Names:")
    print(df.columns)
    print("=============\n")
    print("Null Values:")
    print(null_values(df))

In [82]:
describe_data(train_data)

Data Types:
SSL                   object
BATHRM               float64
HF_BATHRM            float64
HEAT                 float64
HEAT_D                object
AC                    object
NUM_UNITS            float64
ROOMS                float64
BEDRM                float64
AYB                  float64
YR_RMDL              float64
EYB                    int64
STORIES              float64
SALEDATE              object
PRICE                float64
QUALIFIED              int64
SALE_NUM               int64
GBA                    int64
BLDG_NUM               int64
STYLE                float64
STYLE_D               object
STRUCT               float64
STRUCT_D              object
GRADE                float64
GRADE_D               object
CNDTN                float64
CNDTN_D               object
EXTWALL              float64
EXTWALL_D             object
ROOF                 float64
ROOF_D                object
INTWALL              float64
INTWALL_D             object
KITCHENS             float64
FIREPLACES           float64
USECODE                int64
LANDAREA               int64
GIS_LAST_MOD_DTTM     object
dtype: object
=============

Rows and Columns:
(75007, 38)
=============

Column Names:
Index(['SSL', 'BATHRM', 'HF_BATHRM', 'HEAT', 'HEAT_D', 'AC', 'NUM_UNITS',
       'ROOMS', 'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE',
       'PRICE', 'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STYLE_D',
       'STRUCT', 'STRUCT_D', 'GRADE', 'GRADE_D', 'CNDTN', 'CNDTN_D', 'EXTWALL',
       'EXTWALL_D', 'ROOF', 'ROOF_D', 'INTWALL', 'INTWALL_D', 'KITCHENS',
       'FIREPLACES', 'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM'],
      dtype='object')
=============

Null Values:
                   Total_values  Null_Count    Percent
YR_RMDL                   75007       40371  53.822977
PRICE                     75007       13611  18.146306
STORIES                   75007          60   0.079993
ROOMS                     75007          30   0.039996
BEDRM                     75007          23   0.030664
FIREPLACES                75007          22   0.029331
HF_BATHRM                 75007          22   0.029331
GRADE                     75007          21   0.027997
STYLE_D                   75007          21   0.027997
STRUCT                    75007          21   0.027997
STRUCT_D                  75007          21   0.027997
GRADE_D                   75007          21   0.027997
INTWALL                   75007          21   0.027997
CNDTN                     75007          21   0.027997
CNDTN_D                   75007          21   0.027997
EXTWALL                   75007          21   0.027997
EXTWALL_D                 75007          21   0.027997
BATHRM                    75007          21   0.027997
STYLE                     75007          21   0.027997
INTWALL_D                 75007          21   0.027997
KITCHENS                  75007          21   0.027997
ROOF_D                    75007          21   0.027997
NUM_UNITS                 75007          21   0.027997
AC                        75007          21   0.027997
HEAT_D                    75007          21   0.027997
HEAT                      75007          21   0.027997
ROOF                      75007          21   0.027997
AYB                       75007          11   0.014665
USECODE                   75007           0   0.000000
LANDAREA                  75007           0   0.000000
SSL                       75007           0   0.000000
BLDG_NUM                  75007           0   0.000000
GBA                       75007           0   0.000000
SALE_NUM                  75007           0   0.000000
QUALIFIED                 75007           0   0.000000
SALEDATE                  75007           0   0.000000
EYB                       75007           0   0.000000
GIS_LAST_MOD_DTTM         75007           0   0.000000




*   Okay, the 'BATHRM', 'HF_BATHRM', 'HEAT', 'HEAT_D', 'AC','NUM_UNITS', 'ROOMS', 'BEDRM', 'AYB', 'YR_RMDL', 'STORIES', 'PRICE', 'STYLE', 'STYLE_D', 'STRUCT', 'STRUCT_D', 'GRADE', 'GRADE_D','CNDTN','CNDTN_D', 'EXTWALL', 'EXTWALL_D', 'ROOF', 'ROOF_D', 'INTWALL','INTWALL_D', 'KITCHENS', 'FIREPLACES' attributes are sometimes null (less than 75007 non-null), especially the YR_RMDL (53% are null).
*   The PRICE attribute has about 18% null values, so we will need to decide what to do with them. Replacing null values with the median PRICE seems reasonable.

In [83]:
# Let's take a look at the summary statistics of all the numerical attributes
train_data.describe().transpose()

              count           mean  ...       75%         max
BATHRM      74986.0       2.034766  ...       3.0        24.0
HF_BATHRM   74985.0       0.608775  ...       1.0        11.0
HEAT        74986.0       7.654362  ...      13.0        13.0
NUM_UNITS   74986.0       1.199104  ...       1.0         6.0
ROOMS       74977.0       7.366766  ...       8.0       101.0
BEDRM       74984.0       3.375320  ...       4.0        53.0
AYB         74996.0    1930.052589  ...    1947.0      2019.0
YR_RMDL     34636.0    2000.976903  ...    2011.0      2019.0
EYB         75007.0    1965.637221  ...    1970.0      2018.0
STORIES     74947.0       2.096858  ...       2.0       826.0
PRICE       61396.0  384303.854339  ...  585000.0  25100000.0
QUALIFIED   75007.0       0.430133  ...       1.0         1.0
SALE_NUM    75007.0       1.619889  ...       2.0        15.0
GBA         75007.0    1717.855920  ...    1971.0     45384.0
BLDG_NUM    75007.0       1.001000  ...       1.0         5.0
STYLE       74986.0       4.341624  ...       4.0        99.0
STRUCT      74986.0       4.999947  ...       7.0        13.0
GRADE       74986.0       4.266436  ...       5.0        12.0
CNDTN       74986.0       3.525178  ...       4.0         6.0
EXTWALL     74986.0      13.352279  ...      14.0        24.0
ROOF        74986.0       3.987464  ...       6.0        15.0
INTWALL     74986.0       6.140266  ...       6.0        11.0
KITCHENS    74986.0       1.220641  ...       1.0        44.0
FIREPLACES  74985.0       0.621004  ...       1.0        13.0
USECODE     75007.0      13.149586  ...      13.0       995.0
LANDAREA    75007.0    3425.291413  ...    4218.0    691817.0

[26 rows x 8 columns]

In [84]:
# specify which columns are numerical features and which are categorical features
numeric_features = train_data.select_dtypes(include=['int64', 'float64']).drop(['QUALIFIED'], axis=1).columns
categorical_features = train_data.select_dtypes(include=['object']).columns

In [85]:
numeric_features

Index(['BATHRM', 'HF_BATHRM', 'HEAT', 'NUM_UNITS', 'ROOMS', 'BEDRM', 'AYB',
       'YR_RMDL', 'EYB', 'STORIES', 'PRICE', 'SALE_NUM', 'GBA', 'BLDG_NUM',
       'STYLE', 'STRUCT', 'GRADE', 'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL',
       'KITCHENS', 'FIREPLACES', 'USECODE', 'LANDAREA'],
      dtype='object')

In [86]:
categorical_features

Index(['SSL', 'HEAT_D', 'AC', 'SALEDATE', 'STYLE_D', 'STRUCT_D', 'GRADE_D',
       'CNDTN_D', 'EXTWALL_D', 'ROOF_D', 'INTWALL_D', 'GIS_LAST_MOD_DTTM'],
      dtype='object')

In [87]:
for col in categorical_features.tolist():
    print("==="+col+"===\n") 
    print(train_data[col].value_counts())
    print("\n")

===SSL===

5881S   0004    5
5890    0134    4
5890    0123    3
0786    0820    3
1253    0139    3
               ..
5001W   0024    1
1110    0077    1
2312    0063    1
5517    0002    1
4146    0814    1
Name: SSL, Length: 74966, dtype: int64


===HEAT_D===

Hot Water Rad     30891
Forced Air        22635
Warm Cool         20097
Ht Pump             668
Wall Furnace        163
Water Base Brd      133
Gravity Furnac      101
Elec Base Brd        76
Air-Oil              69
Electric Rad         53
No Data              40
Evp Cool             25
Air Exchng           22
Ind Unit             13
Name: HEAT_D, dtype: int64


===AC===

Y    46501
N    28448
0       37
Name: AC, dtype: int64


===SALEDATE===

1900-01-01T00:00:00.000Z    15941
1999-04-01T00:00:00.000Z      152
2001-01-01T00:00:00.000Z      126
2018-07-03T00:00:00.000Z       46
2006-10-12T00:00:00.000Z       45
                            ...
1996-05-28T00:00:00.000Z        1
1992-09-18T00:00:00.000Z        1
2001-04-16T00:00:00.000Z        1
1988-07-01T00:00:00.000Z        1
1994-12-14T00:00:00.000Z        1
Name: SALEDATE, Length: 6612, dtype: int64


===STYLE_D===

2 Story            56885
3 Story             6678
2.5 Story Fin       4960
1 Story             3160
1.5 Story Fin       1903
2.5 Story Unfin      474
4 Story              249
Split Level          223
Split Foyer          194
3.5 Story Fin        102
1.5 Story Unfin       73
Default               48
Bi-Level              15
4.5 Story Fin         12
3.5 Story Unfin        6
Vacant                 2
Outbuildings           1
4.5 Story Unfin        1
Name: STYLE_D, dtype: int64


===STRUCT_D===

Row Inside       28494
Single           22617
Semi-Detached    11694
Row End           8603
Multi             3360
Town Inside        142
Town End            53
Default             20
Vacant Land          3
Name: STRUCT_D, dtype: int64


===GRADE_D===

Average          26361
Above Average    22498
Good Quality     14554
Very Good         6293
Excellent         2431
Superior          1843
Exceptional-A      572
Exceptional-B      187
Fair Quality       114
Exceptional-C       60
Exceptional-D       54
No Data             14
Low Quality          5
Name: GRADE_D, dtype: int64


===CNDTN_D===

Average      40965
Good         26324
Very Good     5688
Excellent      960
Fair           913
Poor           122
Default         14
Name: CNDTN_D, dtype: int64


===EXTWALL_D===

Common Brick      56968
Brick/Siding       3860
Vinyl Siding       3721
Wood Siding        3208
Stucco             2284
Shingle             810
Brick Veneer        758
Aluminum            677
Stone               518
Brick/Stucco        490
Brick/Stone         446
Face Brick          364
Stone/Siding        219
Stone Veneer        191
Stone/Stucco        167
Hardboard            85
Concrete             64
Metal Siding         45
Concrete Block       39
Stucco Block         35
Default              24
Plywood              10
SPlaster              1
Adobe                 1
Rustic Log            1
Name: EXTWALL_D, dtype: int64


===ROOF_D===

Built Up          22158
Comp Shingle      21277
Metal- Sms        20995
Slate              7839
Neopren             867
Shake               638
Clay Tile           459
Shingle             306
Metal- Pre          171
Typical             158
Composition Ro       61
Metal- Cpr           29
Concrete Tile        12
Water Proof           7
Wood- FS              7
Concrete              2
Name: ROOF_D, dtype: int64


===INTWALL_D===

Hardwood         58858
Hardwood/Carp     7591
Wood Floor        5746
Carpet            2516
Lt Concrete        102
Default             84
Ceramic Tile        33
Vinyl Comp          19
Parquet             15
Resiliant           10
Vinyl Sheet          9
Terrazo              3
Name: INTWALL_D, dtype: int64


===GIS_LAST_MOD_DTTM===

2018-07-22T18:01:43.000Z    75007
Name: GIS_LAST_MOD_DTTM, dtype: int64

# Pre-Processing

In [88]:
# Value of '0' in AC column is probably a data error. Replacing '0' with 'N'
train_data['AC'] = train_data['AC'].map( lambda x : 'N' if x == '0' else x)

In [89]:
train_data['AC'].value_counts()

Y    46501
N    28485
Name: AC, dtype: int64

In [90]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

In [91]:
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)])

# Explore different models and shortlist the best ones

In [92]:
# splitting the training data into a train and test set
from sklearn.model_selection import train_test_split
X = train_data.drop('QUALIFIED', axis=1)
y = train_data['QUALIFIED']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=10)

In [93]:
# Baseline Model
from sklearn.dummy import DummyClassifier
dummy_clfr = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', DummyClassifier())])
dummy_clfr.fit(X_train, y_train)
#dummy_clfr.score(X_test, y_test)  # accuracy
print("model score: %.3f" % dummy_clfr.score(X_test, y_test)) # accuracy

model score: 0.506

In [94]:
from sklearn.metrics import accuracy_score, log_loss
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC, NuSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
import xgboost as xgb

In [ ]:
classifiers = [
    KNeighborsClassifier(3),
    LogisticRegression(solver='lbfgs'),
    SVC(kernel="rbf", C=0.025, probability=True),
    #NuSVC(probability=True),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    AdaBoostClassifier(),
    GradientBoostingClassifier(),
    xgb.XGBClassifier()
    ]
for classifier in classifiers:
    pipe = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', classifier)])
    pipe.fit(X_train, y_train)   
    print(classifier)
    print("model score: %.3f" % pipe.score(X_test, y_test))

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')
model score: 0.774
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
model score: 0.872
SVC(C=0.025, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)
model score: 0.851
DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')
model score: 0.881
RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)
model score: 0.856
AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)
model score: 0.892
GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)
model score: 0.895
XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)
model score: 0.897

In [ ]:
# https://xgboost.readthedocs.io/en/latest/parameter.html
param_grid = {
    'classifier__scale_pos_weight': [1, 3],
    'classifier__learning_rate': [0.1, 0.01],
    'classifier__subsample': [0.6, 0.8, 1.0],
    'classifier__gamma': [2, 5, 10],
    'classifier__max_depth' : [3, 4, 6],
    'classifier__objective' : ['binary:logistic', 'binary:logitraw'],
    'classifier__colsample_bytree': [0.6, 0.8, 1.0],
    'classifier__reg_alpha': [0.3, 0.6, 1.0],
    'classifier__n_estimators': [600, 800, 1000]}
from sklearn.model_selection import GridSearchCV
CV = GridSearchCV(xgb_clfr, param_grid, n_jobs= 1)
                  
CV.fit(X_train, y_train)  
print(CV.best_params_)    
print(CV.best_score_)

In [47]:
xgb_clfr = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', xgb.XGBClassifier(silent=False,
                                                        scale_pos_weight=1,
                                                        learning_rate=0.1,  
                                                        colsample_bytree = 0.8,
                                                        subsample = 0.8,
                                                        objective='binary:logistic',
                                                        n_estimators=1000,
                                                        reg_alpha = 0.3,
                                                        max_depth=6, 
                                                        gamma=10))])
xgb_clfr.fit(X_train, y_train)
print("model score: %.3f" % xgb_clfr.score(X_test, y_test))

model score: 0.902

# For Kaggle Submission

In [52]:
test_no_id = test_data.drop('row ID', axis=1)

In [66]:
test_predictions = xgb_clfr.predict(test_no_id)

In [67]:
test_predictions

array([0, 1, 0, ..., 0, 1, 0])

In [68]:
Row_ID = test_data['row ID']
submission_df = pd.DataFrame({
                  "row ID": Row_ID, 
                  "QUALIFIED": test_predictions})

In [69]:
submission_df.head()

   row ID  QUALIFIED
0   41787          0
1   89676          1
2    2028          0
3   53179          0
4   58438          1

In [70]:
submission_df.to_csv(KAGGLE_SUBMISSION_PATH+'/'+'submission.csv', index=False)